footer {
  background: url("../img/background.jpg") repeat;
  .zastavice {
    background: url('../img/zastave3.png') repeat;
    height: 25px;
  }
  .column-1-3 .wrapper {
    text-align: center;
    @include breakpoint($br-small) {
      text-align: left;
    }
  }
  .column-2-3 .wrapper {
    text-align: center;
  }
  .column-3-3 .wrapper {
    text-align: center;
    @include breakpoint($br-small) {
      text-align: right;
    }
  }
  h3 {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    text-decoration: underline;
    color: #285ca8;
  }
  p {
    color: #285ca8;
    margin: 0;
  }
  .igracke {
    background: url("../img/igracke.png") no-repeat center bottom;
    height: 73px;
    margin-top: 0;
  }
  .copy {
    background-color: #285ca8;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    p {
      color: $bela;
      margin: 0;
      padding: 5px;
    }
  }
  @include breakpoint($br-small){
    .igracke{
      margin-top: -60px;
    }
  }
}
