#kontakt {
  padding: 0 3px;
  .form-cell {
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    padding-left: 5px;
    background-color: #ffe2bf;
    border: 1px solid $naradzansta;


  }
  input[type="text"] {
    height: 50px;
  }
  textarea {
    height: 300px;
  }
  ::-webkit-input-placeholder {
    color: $naradzansta;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $naradzansta;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $naradzansta;
  }
  :-ms-input-placeholder {
    color: $naradzansta;
  }
  .check {
    color: $naradzansta;
  }
  input[type="reset"],[type="submit"] {
    width: span(4);
    background-color: $naradzansta;
    border: 0;
    height: 30px;
    color: #fdecd7;
    cursor: pointer;
    margin: 20px 0;
    font-size: 18px;
    @include breakpoint($br-small) {
      width: span(2);
    }
  }
}