#rotator{
  .crtice {
    height: 5px;
    background: url('/img/linija.png') repeat-x;
  }
  .button-rez {
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
    background-color: #ff7f2a;
    color: $bela;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -80px;
    width: 150px;
    @include breakpoint($br-small){
      left: 0;
      margin-left: auto;
      bottom: 8px;
      right: 0px;
      position: absolute;
    }
  }
    a:hover {
      background: $naradzansta;
      border-radius: 3px;
    }
  .pozadina {
    background-image: url("/img/rotator-pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    @include breakpoint($br-small){
      height: 631px;
    }
    //background-position: 50% 50%;
    background-position: center;
      .container{
        position: relative;
        height: 100%;


      }
  }
}