@import "normalize";
@import "boilerplate";
@import "susy";
@import "breakpoint";
@import "typography";

$zelena: #1ba388;
$bela: #ffffff;
$naradzansta: #ffa539;
$svetlo-n: #fdefdf;

$br-small: 768px;
$br-medium: 992px;
$br-large: 1200px;

$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  output: float,
  gutter-position: outside,
  debug: (image:show),
);

.container {
  @include breakpoint($br-small) {
    @include container(720px);
  }
  @include breakpoint($br-medium) {
    @include container(940px);
  }
  @include breakpoint($br-large) {
    @include container(1100px);
  }
}

@include breakpoint($br-small){
  .column-1-3, .column-2-3, .column-3-3{
    @include span(4 of 12);
  }
}
@include breakpoint ($br-medium){
  .comment {
    span(4 of 12);
  }
}
.footer-sadrzaj {
  text-align: center;
  @include breakpoint($br-small){
    .column-left, .column-center, .column-right{
      @include span(4 of 12);
    }
  }
}















//body{
//  background: #eee;
//  @include container(80%);
//}
//a {
//  color: #285ca8;
//  text-decoration: none;
//}
//aside ul {
//  padding: 0;
//  li {
//    list-style: none;
//    margin: 0;
//    a {
//      display: block;
//      padding: 10px 5%;
//      border-bottom: 1px solid #2077A2;
//    }
//  }
//}
//
//  main {
//    @include breakpoint ($medium) {
//      @include span(8);
//    }
//  }
//  aside {
//    @include breakpoint ($medium) {
//      @include span(4 at 9);
//    }
//  }
//
//.gallery img {
//  @include gallery(6 of 12);
//  @include breakpoint ($large){
//    @include gallery(3 of 12);
//  }
//}
//
//@include susy-breakpoint($large, 24) {
//  main {
//    @include span(21);
//    .col1, .col2, .col3 {
//      @include span(4 of 12);
//    }
//  }
//  aside {
//    @include span(3 at 21);
//  }
//}








body{
//  display: inline-block;
//  min-width: 100%;
  background: url("/img/background.jpg") repeat;
}

@mixin homeTitle {
  text-align: center;
  color: $zelena;
  margin-top: 0;
  padding-top: 80px;
  font-family: Arial, sans-serif;
}

@import "header";
@import "rotator";
@import "servisi";
@import "komentari";
@import "mapa";
@import "mini-slajd";
@import "galerija";
@import "kontakt";
@import "onama";
@import "footer";
