<footer>
    <div class="zastavice"></div>
    <div class="container">
        <div class="column-1-3">
            <div class="wrapper">
                <h3>KONTAKT:</h3>
                <p><b> тel. 069/ XXX XXXX<br> тel. 063/ XXX XXXX <br>e-mail: lorem@gmail.com</b></p>
            </div>
        </div>
        <div class="column-2-3">
            <div class="wrapper">
                <h3>ADRESA:</h3>
                <p><b>Lorem Ipsum 56</b></p>
            </div>
        </div>
        <div class="column-3-3">
            <div class="wrapper">
                <h3>PRATITE NAS NA:</h3>
                <a class="facebook" href="https://www.facebook.com/"><img src="img/face.png"/></a>
                <a class="y-tube" href="https://www.youtube.com/"><img src="img/y-tube.png"/></a>
                <a class="twitter" href="https://twitter.com/login"><img src="img/twitter.png"/></a>
            </div>
        </div>

    </div>
    <div class="igracke"></div>
    <div class="copy">
        <p>Copyright © 2016 tamarakovacev13@gmail.com</p>
    </div>
</footer>