<header id="header">
    <div class="container">
        <a class="logo" href="/"><img src="img/logo.png"></a>
        <nav>
            <ul>
                <li><a href="index.html" class="active">Pocetna</a></li>
                <li><a href="onama.html">O nama</a></li>
                <li><a href="prostor.html">Prostor</a></li>
                <li><a href="galerija.html">Galerija</a></li>
                <li><a href="cenovnik.html">Cenovnik</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </nav>
    </div>
    <div class="crtice"></div>
</header>